
OblP3/.vs/OblP3/config/applicationhost.config
OblP3/.vs/OblP3/config/applicationhost.config
OblP3/Repositorios/obj/Debug/Repositorios.csprojAssemblyReference.cache
OblP3/WebAppObl/obj/Debug/WebAppObl.csprojAssemblyReference.cache
